<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <appSettings> 
    <!--Tridion User credentials UserName/Password to run the core service-->
    <add  key="UserName" value="***" />
    <add  key="Password" value="***" />
    <add  key="Domain" value="Domain" />
    <add  key="EndPointAddress" value="/webservices/CoreService2013.svc/wsHttp" />
    <!--QA CoreService Url -->
    <add  key="CoreServiceURL" value="http://cms.com/webservices/CoreService2013.svc/wsHttp" />
    <!-- publication ID is requried-->
    <add  key="PublicationID" value="2073" />
    <!-- publication target ID is requried-->
    <add  key="PublicationTargetIDs" value="tcm:0-1-65538" />    
    <!--Folder TcmId where components gets saved/created-->
    <add  key="FolderLocation" value="tcm:2073-3422-2" />
    <!--Schema Id -->
    <add  key="SchemaID" value="tcm:2069-13671-8" />
   <!-- Exchange Details-->
   <add key="UserEmailId" value="hem.kant@domain.com"/>
  </appSettings>
</configuration>